.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 0 1rem;

  .window {
    width: min(100%, 28.75rem);
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;

    .header {
      background: linear-gradient(to bottom, #810009, #ff0000);
      padding: 1rem;
      text-align: center;
      position: relative;

      .title {
        font-size: 1.5rem;
      }

      .close {
        position: absolute;
        padding: 0;
        background: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        top: 50%;
        right: 1.25rem;
        transform: translate(0, -50%);
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    .body {
      padding: 2rem;

      .contacts {
        list-style: initial;
        display: grid;
        gap: 0.5rem;
        justify-content: center;

        .contact {
          font-size: 1.125rem;

          a {
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .error {
        text-align: center;
      }
    }
  }
}

.paymentsystems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  &:has(.ps:hover) .ps,
  &:has(.ps.active) .ps {
    opacity: 0.5;
  }

  .ps {
    background: none;
    border: 0.0625rem solid transparent;
    padding: 0.5rem;
    cursor: pointer;
    height: 4rem;

    &.active {
      border-color: #db0005;
      opacity: 1 !important;
    }

    &:hover {
      opacity: 1 !important;
    }
  }
}

.summary__submit {
  background: linear-gradient(to top, #d10201 0%, #740107 100%);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.364375rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s;
  height: 3.9375rem;
  width: 100%;
  margin-top: 1rem;

  &:disabled {
    &:is(:hover, :focus) {
      transform: scale(1);
    }

    filter: grayscale(1);
    cursor: not-allowed;
  }
}

.summary__submit:hover {
  transform: scale(0.95);
  transition: 0.3s;
}
